.clock {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.clock::before {
	content: attr(title);
	font-size: 10px;
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 6px;
}

.clock-circle {
	width: 100%;
	height: 100%;
	border: 3px solid #1E1E1E;
	border-radius: 50%;
	background: conic-gradient(
		#32b432 0deg 120deg,
		#FFC000 120deg 240deg,
		#ec3737 240deg 360deg
	);
}

.clock-inner-circle {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	background-color: #1E1E1E;
	transform: translate(-50%, -50%);
}

.clock-dot {
	position: relative;
	top: 50%;
	left: 50%;
	width: 10%;
	height: 10%;
	border-radius: 50%;
	background-color: #D9D9D9;
	transform: translate(-50%, -50%);
}

.clock-line {
	position: relative;
	width: 2px;
	height: 47%;
	background-color: #D9D9D9;
	left: 51%;
	transform-origin: bottom;
	transform: translate(-100%, -144%);
}

.clock-value {
	text-align: center;
	margin-top: -5px;
}

.clock-value-overflow {
	color: tomato;
}
