
.entry {
	width: 100%;
	min-height: 50px;
	height: auto;
}

.entry-label {
	color: var(--color-primary);
	cursor: pointer;
}

.entry-label-asterisk {
	color: red;
}

.entry-input-unit-field {
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
}

.entry-input {
	flex: 1 1 0;
	min-width: 0;
	border: 1px solid #E9E9E9;
	border-right: none;
	border-radius: 3px 0 0 3px;
	padding: 5px;
}

.entry-input.invalid {
	border: 2px solid tomato;
	border-right: none;
}
.entry-input.invalid + .entry-unit {
	border: 2px solid tomato;
	border-left: none;
}
.entry-label.invalid {
	color: tomato;
}

.entry-validation-message {
	color: tomato;
	margin-bottom: 20px !important;
}

.entry-input:focus {
	outline: none;
}

.entry-unit {
	flex: 0 0 auto;
	min-width: 25%;
	max-width: 50%;
	border: 1px solid #E9E9E9;
	background-color: #E9E9E9;
	border-radius: 0 3px 3px 0;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	line-height: 30px;
	cursor: context-menu;
}

/* Hide the spin button */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
}
input[type=number] {
	-moz-appearance:textfield;
}
