
#header-title {
	width: 80%;
	height: auto;
	min-height: 50px;
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: var(--color-secondary);
	border-radius: 3px;
	box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.25);
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header-title h1 {
	color: var(--color-primary);
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.40);
	font-size: 35px;
}


#panels {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 40px 10%;
	padding: 5px;
}

mat-icon {
	position: absolute;
	top: 30px;
	right: 20px;
	color: var(--color-secondary);
	cursor: pointer;
	padding: 10px;
}
mat-icon:hover {
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 50%;
}

/* Small Devices (Phones) */
@media (max-width: 576px) {
	app-panel {
		width: 100%;
		margin-bottom: 30px;
	}

	#panels {
		flex-direction: column;
	}

	mat-icon {
		display: none;
	}

}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 992px) {
	app-panel {
		width: 100%;
		margin-bottom: 30px;
	}

	#panels {
		flex-direction: column;
	}

	mat-icon {
		display: none;
	}
}

/* Large Devices (Desktops) */
@media (min-width: 992px) {
	app-panel {
		width: 32%;
	}

	#panels {
		flex-direction: row;
	}

	mat-icon {
		display: block;
	}
}

