
<header id="header-title">
	<h1>Dura Vermeer RI&E</h1>
</header>

<mat-icon (click)="openSettings()">menu</mat-icon>

<main id="panels">
	<app-panel header="De RI&E tool">
		<app-info-panel></app-info-panel>
	</app-panel>
	<app-panel header="Bekende informatie">
		<app-input-panel></app-input-panel>
	</app-panel>
	<app-panel header="Resultaat">
		<app-result-panel
			*ngIf="inputPanel"
			[data]="this.inputPanel.data"
			[allValid]="this.inputPanel.allValid()"
			(onRemoveMeasure)="this.inputPanel.removeMeasure($event)"
			(onSelectClock)="this.inputPanel.selectDetailRiskScore($event)"
		></app-result-panel>
	</app-panel>
</main>
