
#header-title {
	width: 80%;
	height: auto;
	min-height: 50px;
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: var(--color-secondary);
	border-radius: 3px;
	box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.25);
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header-title h1 {
	color: var(--color-primary);
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.40);
	font-size: 35px;
}

app-entry {
	display: block;
	margin-bottom: 20px;
}

#panels {
	width: 80%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 5px;
}

/* Small Devices (Phones) */
@media (max-width: 576px) {
	app-result-panel,
	app-input-panel,
	app-info-panel {
		width: 100%;
		margin-bottom: 30px;
	}

	#panels {
		flex-direction: column;
	}

}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 992px) {
	app-result-panel,
	app-input-panel,
	app-info-panel {
		width: 100%;
		margin-bottom: 30px;
	}

	#panels {
		flex-direction: column;
	}
}

/* Large Devices (Desktops) */
@media (min-width: 992px) {
	app-result-panel,
	app-input-panel,
	app-info-panel {
		width: 32%;
	}

	#panels {
		flex-direction: row;
	}
}


