
#result-panel-invalid {
	color: var(--color-primary);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 400px;
}
#result-panel-invalid img {
	width: 60px;
}


#result-panel-clocks {
	height: 300px;
	display: flex;
	justify-content: center;
}

.result-panel-clocks-scenario {
	box-sizing: border-box;
	height: 100%;
}
#result-panel-clocks-scenario-a {
	border-right: 2px solid var(--color-primary);
}

.result-panel-clocks-scenario-title {
	text-align: center;
}

.result-panel-clocks-holder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.result-panel-clocks-holder app-clock {
	display: inline-block;
	width: 40%;
	margin: 5px 5px 50px;
}

.result-panel-measure-table {
	border-collapse: collapse;
	width: 100%;
}

.result-panel-measure-table th {
	min-width: 10px;
	width: auto;
}

.result-panel-measure-table th,
.result-panel-measure-table td {
	text-align: center;
}

.result-panel-measure-table tr:nth-child(odd) {
	background-color: rgba(255, 255,255, 0.5);
}
.result-panel-measure-table tr:nth-child(even) {
	background-color: rgba(255, 255,255, 0.25);
}

.result-panel-measure-table th,
.result-panel-measure-table td {
	border: 1px solid var(--color-primary);
	text-align: left;
	padding: 8px;
}

.result-panel-measure-table th {
	background-color: var(--color-primary);
	color: var(--color-secondary)
}

.result-panel-measure-buttons-holder {
	padding: 0 !important;
	width: 30px;
	height: 30px;
	margin: 0;
}

.result-panel-measure-button {
	border: 1px solid transparent;
	background-color: tomato;
	color: var(--color-primary);
	padding: 2px;
	cursor: pointer;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px !important;
	transition: border 150ms;
}

.result-panel-measure-button:hover {
	border: 1px solid var(--color-primary);
}

.emphasized-span {
	font-weight: bolder;
	text-decoration: underline
}

#gray-button-result-panel-overview {
	display: block;
	margin: 20px 8px 8px;
}
