<p>
	Welkom bij de Dura Vermeer Risico Inventarisatie & Evalutatie  (RI&E) Tool.
	Deze tool zal u helpen met beslissingen maken over of de weg gesloten moet
	worden, of dat alleen het wegvlak afgekadert kan worden.
</p>
<p>
	Dit wordt gedaan door eerst een risico te selecteren, en vervolgens
	aan te geven wat de bloostelling van het verkeer zou zijn bij beide
	scenario's. Op basis van de Fine Kinney & Wiruth methode worden dan
	risicocijfers berekent per risicogroep.
</p>
<p>
	Als alles is ingevuld, staan bij de resultaten 8 indicators van de risicocijfers.
	Deze cijfers komen overeen met de Fine Kinney & Wiruth methode, en geven dus een
	indicatie van hoe de verschillende risicogroepen reageren op risico's. Als de cijfers
	niet acceptabel zijn kunnen er ook maatregelen worden toegevoegd, om deze cijfers aan te passen.
</p>
<p>
	Maar de gebruikte data is natuurlijk niet onveranderlijk. Zowel de lijst met maatregelen, als de type risico's zijn
	gedefinieerd in de databank. Deze databank is een Google Spreadsheet waarin alles kan worden aangepast indien
	nodig. Wees echter voorzichtig met het aanpassen van deze data, gezien deze aanpassingen gelden voor iedereen
	die deze tool wilt gebruiken.
</p>
<div id="info-panel-buttons">
	<a class="gray-button" id="gray-button-info-panel-databank" [href]="getBankUri()" target="_blank">
		Databank
	</a>
	<a class="gray-button" id="gray-button-info-panel-manual" href="/docs/Manual.pdf" target="_blank">
		Handleiding
	</a>
	<a class="gray-button" id="gray-button-info-panel-substantiation" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
		Onderbouwing
	</a>
</div>
