
<app-panel header="De RI&E tool">
	<p>
		This will be a lot of text, explaining the tool,
		what it does, how it works, and what it
		outputs. It also clarifies some ambigious aspects,
		if needed.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Fusce placerat justo mattis consequat vehicula. Aenean vitae
		consectetur tortor. Cras tempor auctor arcu, ac luctus neque
		tristique quis. Nulla facilisi. Nunc metus sem, consequat non
		sem non, interdum imperdiet magna. Sed maximus lacus id diam
	</p>
	<p>
		Vestibulum nulla lacus, malesuada id tincidunt eu, semper
		quis nibh. Sed semper nisi ac mauris iaculis, sit amet fermentum
		erat malesuada. Duis euismod quis lectus dapibus sagittis. Donec
		quis ante interdum, vulputate libero a, vulputate purus. Curabitur
		sodales sodales sem eget tristique. Suspendisse potenti. Nullam
		semper id erat eu malesuada. Integer eget ligula eros. Curabitur
	</p>
	<a id="info-panel-database-redirect" [href]="getBankUri()" target="_blank">
		Naar de databank
	</a>
</app-panel>
