<p>
	Welkom bij de Dura Vermeer Risico Inventarisatie & Evalutatie  (RI&E) Tool.
	Deze tool zal u helpen met beslissingen maken over of de weg gesloten moet
	worden, of dat alleen het wegvlak afgekadert kan worden.
</p>
<p>
	Dit wordt gedaan door eerst een risicogroep te selecteren. Daarmee
	worden vervolgens de waarschijnlijkheid, blootstelling, en het effect
	ingevuld voor beide situaties ingevuld, op basis van de Fine Kinney &
	Wiruth methode. Hieruit worden de risiccijfers vervolgens berekend.
</p>
<p>
	Als alles is ingevuld, drukt u op de knop "Voeg toe", waarna de berekening
	gemaakt wordt voor de risicogroep. Dit is dan te zien bij de resultaten, waar
	het cijfer overeenkomt met de Fine Kinney & Wiruth methode. Als de cijfers
	niet acceptabel zijn kunnen er ook maatregelen worden toegevoegd, om deze
	cijfers aan te passen.
</p>
<p>
	Maar de gebruikte data is natuurlijk niet onveranderlijk. De lijst met alle
	maatregelen, en hun waarden zijn gedefinieerd in de databank. Deze databank is
	een Google Spreadsheet waarin alles kan worden aangepast indien nodig. Wees
	echter voorzichtig met het aanpassen van deze data, gezien deze aanpassingen gelden
	voor iedereen die van deze tool gebruik maakt.
</p>
<div id="info-panel-buttons">
	<a class="gray-button" id="gray-button-info-panel-databank" [href]="this.getBankUri()" target="_blank">
		Databank
	</a>
	<a class="gray-button" id="gray-button-info-panel-manual" href="/docs/Handleiding.pdf" target="_blank">
		Handleiding
	</a>
	<a class="gray-button" id="gray-button-info-panel-substantiation" href="/docs/Onderbouwing%20en%20datadocument.pdf" target="_blank">
		Onderbouwing
	</a>
</div>
