
<div class="dropdown">
	<label
		class="dropdown-label"
		[class.invalid]="displayInvalid"
		for="dropdown-input-field-{{ this.config.code }}">
		{{ this.config.label }}
		<span class="dropdown-label-asterisk" *ngIf="this.config.required">*</span>
	</label>

	<select
		id="dropdown-select-field-{{ this.config.code }}"
		class="dropdown-select {{ displayInvalid ? 'invalid' : ''}}"
		(focus)="onInteract()"
		(change)="onInteract()"
		[(ngModel)]="this.value"
		[disabled]="this.disabled"
		[class.no-arrow]="this.items.length == 1"
		(ngModelChange)="onChange()">
		<option
			*ngFor="let item of this.items"
			[disabled]="item.disabled"
			[ngValue]="item">
			{{ item.value }}
		</option>
	</select>
	<sup class="dropdown-validation-message" *ngIf="displayInvalid">
		{{ this.config.validationMessage ?? "Dit veld is niet valide" }}
	</sup>
</div>
