
.dropdown {
	width: 100%;
	min-height: 50px;
	height: auto;
}

.dropdown-label {
	color: var(--color-primary);
	cursor: pointer;
	display: block;
}

.dropdown-label-asterisk {
	color: red;
}


.dropdown-select {
	border: 1px solid #E9E9E9;
	border-radius: 3px 0 0 3px;
	padding: 5px;
	width: 100%;
}
.dropdown-select:focus {
	outline: none;
}

.dropdown-select.invalid {
	border: 2px solid tomato;
}
.dropdown-label.invalid {
	color: tomato;
}

.dropdown-validation-message {
	color: tomato;
}

.no-arrow {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	pointer-events: none;
}
