
app-dropdown {
	display: block;
	margin-top: 20px;
}
app-dropdown:last-of-type {
	margin-bottom: 30px;
}

app-entry {
	display: block;
	margin-top: 9px;
}

#input-panel-select-risk-scores {
	border-top: 2px solid var(--color-primary);
}

#input-panel-select-apply,
#input-panel-select-measure {
	display: flex;
	flex-direction: column;
	justify-content: right;
}

.input-panel-risk-scores {
}

#gray-button-input-panel-measure {
	width: 150px;
	margin-top: -20px;
	align-self: flex-end;
}

#gray-button-input-panel-apply {
	width: 100%;
	margin-bottom: 10px;
}

#gray-button-input-panel-measure,
#gray-button-input-panel-apply {
	border: none;
}


.input-panel-risk-scores-set-dropdowns {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.input-panel-risk-scores-set-dropdowns app-dropdown {
	width: 200px !important;
}

.input-panel-risk-scores-set p {
	padding: 0;
	text-align: center;
	margin: 0 0 -10px;
}

.input-panel-measure-delete-button {
	color: red;
	width: 20px;
	height: 20px;
	padding: 6px;
	margin: 2px;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 300ms;
	text-align: center;
}
.input-panel-measure-delete-button:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
