<app-dropdown
	[config]="this.dropdowns['riskType']"
	[items]="this.currentRiskDropdownOptions"
	[disabled]="this.currentRiskDropdownOptions.length <= 0"
	[value]="this.selectedRiskDropdownOption"
	(onValueChange)="this.setRiskType($event)"
	#risk
></app-dropdown>

<app-dropdown
	[value]="this.data.frequencies.frequencyA"
	[config]="this.dropdowns['frequencyA']"
	[items]="this.frequencyDropdownItems"
	(onValueChange)="this.setFrequency('a', $event)"
	[automaticallySelectFirstItem]="true"
></app-dropdown>
<app-dropdown
	[value]="this.data.frequencies.frequencyB"
	[config]="this.dropdowns['frequencyB']"
	[items]="this.frequencyDropdownItems"
	(onValueChange)="this.setFrequency('b', $event)"
	[automaticallySelectFirstItem]="true"
></app-dropdown>

<div id="input-panel-select-risk-scores">
	<p><strong>Specificeer een risico score</strong></p>
	<p *ngIf="this.selectedScenarioRiskGroup; else selectRiskGroupScenarioWarning">
		<strong>Scenario:</strong> {{ this.selectedScenarioRiskGroup.scenario == 'a' ? 'Verkeer omleiden' : 'Langs werkvak' }}<br/>
		<strong>Risicogroep:</strong> {{ riskGroup[this.selectedScenarioRiskGroup.riskGroup] }}
	</p>
	<ng-template #selectRiskGroupScenarioWarning>
		<p>Selecteer een klok om de individuele risico scores aan te passen.</p>
	</ng-template>
	<app-entry
		[value]="this.data.riskScoreValues.effect"
		[config]="this.entries['effect']"
		[disabled]="!this.selectedScenarioRiskGroup"
		(onValueChange)="this.setRiskScore('effect', $event)"
	></app-entry>
	<app-entry
		[value]="this.data.riskScoreValues.probability"
		[config]="this.entries['probability']"
		[disabled]="!this.selectedScenarioRiskGroup"
		(onValueChange)="this.setRiskScore('probability', $event)"
	></app-entry>
</div>

<div id="input-panel-select-measure">
	<app-dropdown
		[config]="this.dropdowns['measure']"
		[items]="this.currentMeasureDropdownOptions"
		[disabled]="this.currentMeasureDropdownOptions.length <= 0"
		[value]="this.defaultDropdownValues.measure"
		#measure
	></app-dropdown>
	<a
		id="gray-button-input-panel-measure"
		class="gray-button"
		(click)="addSelectedMeasure()"
		*ngIf="this.currentMeasureDropdownOptions.length > 0"
	>Pas maatregel toe</a>
</div>

