
app-dropdown {
	display: block;
	margin-top: 20px;
}
app-dropdown:last-of-type {
	margin-bottom: 30px;
}

app-entry {
	display: block;
	margin-top: 9px;
}

#input-panel-select-risk-scores {
	border-top: 2px solid var(--color-primary);
}

#input-panel-select-measure {
	margin-top: 20px;
	border-top: 2px solid var(--color-primary);
	display: flex;
	flex-direction: column;
	justify-content: right;
}

#gray-button-input-panel-measure {
	width: 150px;
	margin-top: -20px;
	align-self: flex-end;
}
