<app-dropdown
	[config]="this.dropdowns['riskType']"
	[items]="this.currentRiskDropdownOptions"
	[disabled]="this.currentRiskDropdownOptions.length <= 0"
	[value]="this.selectedRiskDropdownOption"
	(onValueChange)="this.setRiskType($event)"
	#risk
></app-dropdown>

<app-entry
	[value]="this.data.riskScoreValues.effect"
	[config]="this.entries['effect']"
	(onValueChange)="this.setRiskScore('effect', $event)"
></app-entry>
<app-entry
	[value]="this.data.riskScoreValues.frequency"
	[config]="this.entries['frequency']"
	(onValueChange)="this.setRiskScore('frequency', $event)"
></app-entry>
<app-entry
	[value]="this.data.riskScoreValues.probability"
	[config]="this.entries['probability']"
	(onValueChange)="this.setRiskScore('probability', $event)"
></app-entry>

<div id="measure">
	<app-dropdown
		[config]="this.dropdowns['measure']"
		[items]="this.currentMeasureDropdownOptions"
		[disabled]="this.currentMeasureDropdownOptions.length <= 0"
		[value]="this.defaultDropdownValues.measure"
		#measure
	></app-dropdown>
	<button
		id="measure-add-button"
		(click)="addSelectedMeasure()"
		*ngIf="this.currentMeasureDropdownOptions.length > 0"
	>Pas maatregel toe</button>
</div>
