
#input-panel {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	box-shadow: 8px 12px 10px rgba(0, 0, 0, 0.25);
	border-radius: 3px;
	padding: 20px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.panel-header {
	border-bottom: 2px solid var(--color-primary);
	text-align: center;
	margin-top: -20px;
}

app-dropdown {
	display: block;
	margin-top: 20px;
}
app-dropdown:last-of-type {
	margin-bottom: 30px;
}

app-entry {
	display: block;
	margin-top: 9px;
}

