<app-dropdown
	[config]="this.dropdowns['riskGroup']"
	[items]="this.dropdowns['riskGroup'].defaultItems"
	[value]="this.data.riskGroup"
	#riskGroup
></app-dropdown>

<!-- Probability -->
<app-dropdown
	[value]="this.data.probability.scenarioA"
	[config]="this.dropdowns['probabilityA']"
	[items]="this.dropdowns['probabilityA'].defaultItems"
></app-dropdown>
<app-dropdown
	[value]="this.data.probability.scenarioB"
	[config]="this.dropdowns['probabilityB']"
	[items]="this.dropdowns['probabilityB'].defaultItems"
></app-dropdown>

<!-- Frequency -->
<app-dropdown
	[value]="this.data.frequency.scenarioA"
	[config]="this.dropdowns['freqA']"
	[items]="this.dropdowns['freqA'].defaultItems"
></app-dropdown>
<app-dropdown
	[value]="this.data.frequency.scenarioB"
	[config]="this.dropdowns['freqB']"
	[items]="this.dropdowns['freqB'].defaultItems"
></app-dropdown>

<!-- Effect -->
<app-dropdown
	[value]="this.data.effect.scenarioA"
	[config]="this.dropdowns['effectA']"
	[items]="this.dropdowns['effectA'].defaultItems"
></app-dropdown>
<app-dropdown
	[value]="this.data.effect.scenarioB"
	[config]="this.dropdowns['effectB']"
	[items]="this.dropdowns['effectB'].defaultItems"
></app-dropdown>

<a
	id="gray-button-input-panel-apply"
	class="gray-button"
	(click)="applyRisk()"
	*ngIf="this.currentMeasureDropdownOptions.length > 0"
>Voeg toe</a>



<div id="input-panel-select-measure">
	<app-dropdown
		[config]="this.dropdowns['measure']"
		[items]="this.currentMeasureDropdownOptions"
		[disabled]="this.currentMeasureDropdownOptions.length <= 0"
		[value]="this.defaultDropdownValues.measure"
		#measure
	></app-dropdown>
	<a
		id="gray-button-input-panel-measure"
		class="gray-button"
		(click)="addSelectedMeasure()"
		*ngIf="this.currentMeasureDropdownOptions.length > 0"
	>Pas maatregel toe</a>
</div>

