

<div *ngIf="this.notStoppedTheEasterEgg">
	<img id="mattieu" src="https://media.licdn.com/dms/image/v2/C4E03AQHEuncSx2q2DA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517741443007?e=2147483647&v=beta&t=WpelcC8byjnUMfPUZGtrrCAGOnBFqtBmM6OgFBavZwM" />
	<img id="happybirthday" src="https://png.pngtree.com/png-clipart/20221122/ourmid/pngtree-happy-birthday-text-effect-png-image_241348.png" alt="">
	<button id="button-to-stop" (click)="disable()" *ngIf="toggleOffButtonVisible">(Stop de easter-egg)</button>
</div>

