@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#mattieu {
	width: 30vw;
	height: auto;
	position: fixed;
	left: 35vw;
	border: 20px solid blueviolet;
	border-radius: 50%;
	animation: spin 5s linear infinite;
}

#happybirthday {

}

#button-to-stop {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	height: 50px;
	border: 2px solid red;
	cursor: pointer;
}
