
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", sans-serif ;
	background-color: var(--color-primary);
}

:root {
	--color-primary: #005951;
	--color-secondary: #F3E33F;
}

