
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", sans-serif ;
	background-color: var(--color-primary);
}

:root {
	--color-primary: #005951;
	--color-secondary: #F3E33F;
	--font-size: 15px;
}

/* Apply font-size to all general text-based elements */
p, label, button, option, select, input, a, td, tr {
	font-size: var(--font-size) !important;
}

hr {
	color: var(--color-primary);
}

.gray-button {
	background-color: var(--color-primary);
	color: var(--color-secondary);
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}
