
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trebuchet MS", sans-serif ;
	background-color: var(--color-primary);
}

:root {
	--color-primary: #005951;
	--color-secondary: #F3E33F;
	--font-size: 15px;
}

/* Apply font-size to all general text-based elements */
p, label, button, option, select, input, a, td, tr {
	font-size: var(--font-size) !important;
}
